<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ReqServlet1</servlet-name>
    <servlet-class>test04.ReqServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReqServlet1</servlet-name>
    <url-pattern>/refresh</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ReqServlet2</servlet-name>
    <servlet-class>test04.ReqServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReqServlet2</servlet-name>
    <url-pattern>/req2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReqServlet3</servlet-name>
    <servlet-class>test04.ReqServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReqServlet3</servlet-name>
    <url-pattern>/req3</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ReqServlet4</servlet-name>
    <servlet-class>test04.ReqServlet4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReqServlet4</servlet-name>
    <url-pattern>/req4</url-pattern>
  </servlet-mapping>

    <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>test04.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>test04.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/order</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>BeanUntilsServlet</servlet-name>
    <servlet-class>temptest_beanuUtils.BeanUntilsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeanUntilsServlet</servlet-name>
    <url-pattern>/BeanUntils</url-pattern>
  </servlet-mapping>
  <servlet>
		<servlet-name>Demo1</servlet-name>
		<servlet-class>test05.Demo1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Demo1</servlet-name>
		<url-pattern>/Demo1</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Demo2</servlet-name>
		<servlet-class>test05.Demo2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Demo2</servlet-name>
		<url-pattern>/Demo2</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>Demo3</servlet-name>
		<servlet-class>test05.Demo3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Demo3</servlet-name>
		<url-pattern>/Demo3</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Demo5</servlet-name>
		<servlet-class>test05.Demo5</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Demo5</servlet-name>
		<url-pattern>/Demo5</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>Demo4</servlet-name>
		<servlet-class>test05.Demo4</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Demo4</servlet-name>
		<url-pattern>/Demo4</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Demo6</servlet-name>
		<servlet-class>test05.Demo6</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Demo6</servlet-name>
		<url-pattern>/Demo6</url-pattern>
	</servlet-mapping>
	
  
</web-app>